h1{
    color: cadetblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
p{
    color: chocolate;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  

}
p1{
    color: chocolate;
    color: chocolate;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    text-align: ;
}
