h1{
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}
a{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}